*{
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
}

nav{
    position: fixed;
    height: 50px;
    background-color: #212121;
    width: 100%;
    z-index: 1;
}

.menu_list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 18px 70px;
    line-height: 15px;
}

.menu_link{
    color: #ffffff;
    font-size: 15px;
    font-weight: 200;
}

.subheader{
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}


.subheader_logo{
    margin-top: 16px;
    display: block;
    max-width: 100%;
}

.subheader_official{
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
}

.subheader_call{
    margin-top: 23px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 200;
    text-align: right;
    line-height: 11px;
}

.subheader_phone{
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 18px;
    line-height: 16px;
}

.subheader_btn{
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 5px;
}

.promo{
    box-sizing: border-box;
    min-height: 800px;
    background: url('../img/background_car.png') center center/cover no-repeat;
    padding: 202px 0 135px 0;
}

.promo_header{
    margin: 0;
    color: #ffffff;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
}

.promo_subheader{
    margin: 0;
    margin-top: 20px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 29px;
}

.promo_dscr{
    margin: 0;
    margin-top: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.promo_btn{
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

/* .advantages_header{
    display: block;
    margin: 0 auto;
    margin-top: 71px;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 200;
    text-transform: uppercase;
}

.advantages_subheader{
    margin-top: 38px;
    text-align: center;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
}

.advantages_item{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 480px;
}

.advantages_flex{
    flex-direction: column;
}

.item_image{
    width: 113px;
    height: 113px;
}

.item_dscr{
    margin-left: 26px;
}

.item_dscr{
    align-self: center;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.item_dscr h2.item_title{
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
} */

.reasons {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
    width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}